@font-face {
    font-family: "UbuntuMono";
    src: url("/assets/fonts/UbuntuMono-Regular.ttf");
}
@font-face {
    font-family: "SegoeUI";
    src: url("/assets/fonts/SegoeUI.ttf");
}
html {
    font-size: 14px;
}
body {
    font-size: 1em;
    font-weight: 400;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    background-color: #1C1C1C;
    color: #fff;
}
.level-button {
    height: 2rem!important;
}
.level {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    vertical-align: middle;
    line-height: 2rem;
    flex-wrap: wrap;
}
.level-items-title {
    font-size: 1.5rem;
    font-weight: 400;
}
.level-items-label {
    font-weight: 400;
    margin-right: 1rem;
}
.level-items-select {
    height: 2rem;
    vertical-align: middle;
}
.level-items {
    vertical-align: middle;
    display: flex;
}